<script type="text/javascript" src="Travels/FirstPhaseRegister.js"> </script> 
<div class="btn btn-primary row col-md-offset-12 col-md-1" onclick="goBack()">
		<a href="javascript:void(0);" style="color: white;font-size: 20px;">رجوع</a>
		<i class="icon-reply icon-only"></i>
	</div>
	<div class="space-40"></div>
		<br>
<form action="" class="form-horizontal" role="form">
	<div class="row col-lg-12">
		<div class="row col-lg-12">
			<div class="col-lg-4"> 
				<input id="nashat_name" value="" class="form-control" placeholder="اسم النشاط">
			</div>   
			
			<div class="col-lg-4"> 
				<select id="nashat_type" class="form-control"></select>
			</div>
			
			<div class="col-lg-4">
			  	<select id="ma2morya_type" class="form-control">
			  	<option value="1"> تدريب مشترك</option><option value="2"> رحلة طلبة</option>
			  	</select> 
			</div>
		</div>
		<br> 
		
		
	
		<br>		
		<div class="row col-lg-12">
		  	<a class="btn btn-primary btn-lg btn-block" target="_blank" href="javascript:void(0)" onclick="create_new_ma2morya()"><strong>حفظ المأمورية</strong> </a>
		</div>

	</div>
</form>