<!-- <script type="text/javascript" src="Travels/Home.js"> </script> 
<form action="" class="form-horizontal" role="form">
	<div class="row col-lg-12">

    <div class="row col-lg-4">
    	<p style="font-size:40px;color:white;text-align:center;">منــظومة الســفر</p>
    </div>

      <div class="row col-lg-5">
      <a id="" class="btn btn-info btn-lg btn-block" onclick="GotoMainSearchForm()" target="_blank"><strong>بحث و التقارير</strong></a>
      </div>
      <div class="row col-lg-2"> </div>
      <div class="row col-lg-5">
      <a class="btn btn-primary btn-lg btn-block" onclick="GoMissionsRegister()" target="_blank"><strong>تسجيل مأمورية</strong></a>
      </div>
		
	</div>
	<div class="space-40"></div>
		<br></br>
	<div class row>
     
      <div class="row col-lg-5">
      <a class="btn btn-primary btn-lg btn-block" onclick="GoShipsRegister()" target="_blank"><strong>تسجيل الوحدات المشاركة</strong></a>
      </div>
      <div class="row col-lg-2"></div>
      <div class="row col-lg-5">
      <a class="btn btn-primary btn-lg btn-block" onclick="GoPortsRegister()" target="_blank"><strong>تسجيل الموانى</strong></a>
      </div>
     
	</div>
	<div class="space-40"></div>
		<br></br>
	<div class row>
	<div class="row col-lg-4">
	    </div>
	    <div class="row col-lg-4">
	    <a class="btn btn-primary btn-lg btn-block" onclick="GoTravelersInfo()" target="_blank"><strong>تسجــيل بيـانات المسافرين</strong></a>
	    </div>
	    <div class="row col-lg-4">
	    </div>
	</div>
	<div class="space-40"></div>
		<br></br>
</form>	 -->

<script type="text/javascript" src="Travels/Home.js"> </script>

<div class="row col-lg-12">
	<p style="font-size:25px;color:white;text-align:center;background:rgb(10, 75, 131);" id=""><strong>منظومة التدريبات المشتركة ورحلات الطلبة التدريبية</strong></p>
	<br>
	<div class="col-lg-5">
		<a id="" class="btn btn-primary btn-lg btn-block" onclick="GotoMainSearchForm()" target="_blank"><strong>بحث و التقارير</strong></a>
	</div>
	
	<div class="col-lg-2">
	
	</div>
	
	<div class="col-lg-5">
		<a class="btn btn-primary btn-lg btn-block" onclick="GoMissionsRegister()" target="_blank"><strong>تسجيل المأموريات</strong></a>
	</div>
</div>

<br>
<div class="space-35"></div>
<div class="space-100"></div>

<div class="row col-lg-12">

	<div class="col-lg-4">
		<a class="btn btn-primary btn-lg btn-block" onclick="GoShipsRegister()" target="_blank"><strong>تسجيل الوحدات المشاركة</strong></a>
	</div>
	
	<div class="col-lg-4">	
		<a class="btn btn-primary btn-lg btn-block" onclick="GoPortsRegister()" target="_blank"><strong>تسجيل الموانى</strong></a>
	</div>
	
	<div class="col-lg-4">
		<a class="btn btn-primary btn-lg btn-block" onclick="GoTravelersInfo()" target="_blank"><strong>تعديل بيـانات المسافرين</strong></a>
	</div>
</div>

	
