<script type="text/javascript" src="Travels/List.js"></script>

<div class="btn btn-primary row col-md-offset-12 col-md-1" onclick="goBack()">
		<a href="javascript:void(0);" style="color: white;font-size: 20px;">رجوع</a>
		<i class="icon-reply icon-only"></i>
</div>
<div class="space-40"></div>
<br>
<div class="row col-lg-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-hover table-stripped table-bordered" id ="travelsTable" style="width:100%; color: black;">
				<thead>
					<tr>
						<th style="text-align: center;">نوع المأمورية</th>
						<th style="text-align: center;">نوع النشاط</th>
						<th style="text-align: center;">الرحلة من</th>
						<th style="text-align: center;">الرحلة إلى</th>
						<th style="text-align: center;">قائد المأمورية / قائد التشكيل </th>
						<th style="width:250px;text-align: center;">تربيط على</th>	
					</tr>
				</thead>
				<tbody id="travels_table_content">
				</tbody>
			</table>
		</div>
	</div>
</div>



