<script type="text/javascript" src="Travels/MainSearchForm.js"> </script> 
<div class="btn btn-primary row col-md-offset-12 col-md-1" onclick="goBack()">
		<a href="javascript:void(0);" style="color: white;font-size: 20px;">رجوع</a>
		<i class="icon-reply icon-only"></i>
	</div>
<div class="space-40"></div>
		<br>
<div  class="row col-lg-12">
  <a id="" onclick="GotoMissionsSearchForm()" class="btn btn-outline btn-danger btn-block" target="_blank" href="javascript:void(0)"><strong style="width:10px;font-size:20px;">البحث عن المأموريات</strong> </a>
  <a id="" onclick="GotoTravelersSearchForm()" class="btn btn-outline btn-success btn-block" target="_blank" href="javascript:void(0)"><strong style="width:10px;font-size:20px;">البحث عن المسافرين</strong> </a>
</div>