<script type="text/javascript" src="Travels/PortsRegisterForm.js"></script>
<form action="" class="form-horizontal" role="form">
<div class="btn btn-primary row col-md-offset-12 col-md-1" onclick="goBack()">
		<a href="javascript:void(0);" style="color: white;font-size: 20px;">رجوع</a>
		<i class="icon-reply icon-only"></i>
	</div>
	<div class="row col-lg-12">
		<p style="font-size:30px;color:white;text-align:center;"><strong>تســجيل الموانى</strong></p>
	</div>
	<!-- Panel Ports Form-->
	<div class="row col-lg-12">
		<div class="panel panel-default">
		
			<div class="panel-heading">
		    </div>  
             <div class="panel-body">
                 <div class="dataTable_wrapper">
                    <table class="table table-stripped table-bordered table-hover">
                      <thead>
                         <tr>
                         <th style="width:5px;font-size:18px;color:black;text-align:center;">م</th>
                         <th style="width:20px;font-size:18px;color:black;text-align:center;">إسم الميناء</th>
                         <th style="width:5px;font-size:18px;color:black;text-align:center;">م</th>
                         <th style="width:20px;font-size:18px;color:black;text-align:center;">إسم الميناء</th>
                         </tr>
                      </thead>
                      <tbody id="ports_table_content">
                      </tbody>

                    </table>
                 </div>
			</div>
	 	</div>
	 </div>
	 
	 	 <div id="add_new_ship" class="row col-lg-12">
	 	 	 <div class="col-lg-5">
			 	<a onclick="insert_new_port()" class="btn btn-sm btn-info btn-block" target="_blank" href="javascript:void(0)"><strong style="width:10px;font-size:20px;">حفظ </strong> </a>
			 </div>
	         <div class="col-lg-4"> 	
	         	<input id="port_name" class="form-control" placeholder="اسم الميناء">
		 	 </div>
	         <div class="col-lg-3">
	         	<p style="font-size:20px;color:white;text-align:center;"><strong>تسجيل ميناء جديد</strong></p>
			 </div>			 
		</div>
	 
</form>