<script type="text/javascript" src="Travels/Reports.js"> </script> 
<form action="" class="form-horizontal" role="form">
	<div class="row">
    	<div class="col-lg-4">
        	<div class="panel panel-primary">
            	<div class="panel-heading">
                	<center>البيانات الخاصة بالمأمورية</center>
                </div>
                <div class="panel-body">
                	<p></p>
                </div>
                <div class="panel-footer">
                </div>
          	</div>
       	</div>
    	<div class="col-lg-4">
        	<div class="panel panel-primary">
            	<div class="panel-heading">
                	 <center>البيانات الخاصة بالوحدات</center>
                </div>
                <div class="panel-body">
                	<p></p>
                </div>
                <div class="panel-footer">
                	
                </div>
          	</div>
       	</div>
    	<div class="col-lg-4">
        	<div class="panel panel-primary">
            	<div class="panel-heading">
              	 	 <center>البيانات الخاصة بالأفراد</center>	
                </div>
                <div class="panel-body">
                	<p></p>
                </div>
                <div class="panel-footer">
                	
                </div>
          	</div>
       	</div>       	
    </div>
    
	<div class="row col-lg-12">
		<div class="row col-lg-12">
     		<p style="font-size:30px;color:white;text-align:center;"><strong>التقارير </strong></p>
		</div>
		<div class="row col-lg-12">
        	<a class="btn btn-primary  btn-lg btn-block" target="_blank" href="#"><strong>تقرير بالمسافرين في المأمورية</strong> </a>
			<a class="btn btn-info  btn-lg btn-block" target="_blank" href="#"><strong>تقرير بالمسافرين من كل وحدة</strong> </a>
			<a class="btn btn-outline  btn-lg btn-block" target="_blank" href="#"><strong>تقارير الأفراد</strong> </a>
		</div>
	</div>
</form>