<script type="text/javascript" src="Travels/TravelersRegisterForms.js"> </script> 
<div  class="row col-lg-12">
<div class="row col-lg-12">

	<div class="col-lg-2">
	</div>
	
	<div class="col-lg-4">
		<select id="ship_type" class="form-control"></select>
	</div>
	
	<div class="col-lg-4">
		<p style="font-size:20px;color:white;text-align:center;"><strong>تسجيل طاقم المسافرين على:  </strong></p>
	</div>
	
	<div class="col-lg-2">
	</div>

</div> 
<div  class="row col-lg-12">        
	<a id="ShowOfficersForm" onclick="ShowOfficersForm()" class="btn btn-danger btn-block" target="_blank" href="javascript:void(0)"><strong style="width:10px;font-size:20px;">تسجيل طاقم الضباط الـــــمسافرين</strong> </a>
	<a id="ShowAssistantsForm" onclick="ShowAssistantsForm()" class="btn btn-success btn-block" target="_blank" href="javascript:void(0)"><strong style="width:10px;font-size:20px;">تسجيل طاقم صف الضباط الــــمسافرين</strong> </a>
	<a id="ShowStudentsForm" onclick="ShowStudentsForm()" class="btn btn-primary btn-block" target="_blank" href="javascript:void(0)"><strong  style="width:10px;font-size:20px;display:inline;">تسجيل طاقم الــــــطلاب الـــــمسافرين</strong> </a>
</div>
</div>