<script>
	$(document).ready(function() {
		setStatus();
		window.setInterval(setStatus, 10000);
	});
</script>


<div class="space-15"></div>
<div class="row">

	<div class="col-xs-6 col-sm-3 pricing-box">
		<div class="widget-box">
			<div class="widget-header header-color-dark">
				<h5 class="bigger lighter">القائد على التابلت</h5>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<ul class="list-unstyled spaced2">
						<li><i id="kaed_khargy_tab" class="icon-ok red"></i> خارجى</li>
						<li><i id="kaed_da5ly_tab" class="icon-ok green"></i> داخلى</li>
					</ul>

					<hr>
					<div class="price">
						<small>اجمالى/</small> <i id="total_kaed_tab"> </i> <small>مكاتبة</small>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-3 pricing-box">
		<div class="widget-box">
			<div class="widget-header header-color-blue"
				style="background-color: #d15b47; border-color: #d15b47;">
				<h5 class="bigger lighter">القائد تحت التجهيز</h5>
			</div>

			<div class="widget-body" style="border-color: #d15b47;">
				<div class="widget-main">
					<ul class="list-unstyled spaced2">
						<li><i id="kaed_khargy" class="icon-ok red"></i> خارجى</li>
						<li><i id="kaed_da5ly" class="icon-ok green"></i> داخلى</li>
					</ul>

					<hr>
					<div class="price">
						<small>اجمالى/</small> <i id="kaed_total"> </i> <small>مكاتبة</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-3 pricing-box">
		<div class="widget-box">
			<div class="widget-header header-color-dark">
				<h5 class="bigger lighter">رئيس أركان على التابلت</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<ul class="list-unstyled spaced2">
						<li><i id="arkan_khargy_tab" class="icon-ok red"></i> خارجى</li>
						<li><i id="arkan_da5ly_tab" class="icon-ok green"></i> داخلى
						</li>
					</ul>

					<div class="price">
						<small>اجمالى/</small> <i id="total_arkan_tab"> </i> <small>مكاتبة</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-3 pricing-box">
		<div class="widget-box">
			<div class="widget-header header-color-green">
				<h5 class="bigger lighter">رئيس أركان تحت التجهيز</h5>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<ul class="list-unstyled spaced2">
						<li><i id="arkan_khargy" class="icon-ok red"></i> خارجى</li>
						<li><i id="arkan_da5ly" class="icon-ok green"></i> داخلى</li>
					</ul>

					<div class="price">
						<small>اجمالى/</small> <i id="arkan_total"> </i> <small>مكاتبة</small>
					</div>
				</div>
			</div>
		</div>
	</div>





</div>
<div class="space-15"></div>