<script type="text/javascript" src="Sader/document_sader_search.js"></script>



<div class="panel panel-default">
	<div class="panel-body">

		<table class="table table-hover table-stripped table-bordered" id = "documents_table" style="width:100%; color: black;">
			<thead>
				<tr>
					<th style="text-align: center;">رقم الصادر</th>
					<th style="width:250px;text-align: center;">الموضوع</th>
					<th style="text-align: center;"> الجهة</th>
					<th style="white-space: nowrap; text-align: center; ">التاريخ</th>
					<th style="text-align: center;">التأشيرة</th>
					<th style="text-align: center;">التوقيع</th>
					<th style="width:250px;text-align: center;">أصل الموضوع</th>
				</tr>
			</thead>
			<tbody id="table_content">
			</tbody>
		</table>
		
	</div>
</div>

<nav class ="row">
  <ul class="pagination" id ="paging">
    
  </ul>
</nav>


