<script type="text/javascript" src="Motba/Istagel_panel.js"></script> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">تاريخ أخر استعجال </h4>
                </div>
                <div class="row" id="Sader_units" ></div> 

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">الــغـــاء</button>
                    <button type="button" class="btn btn-primary" onclick="saveTextBoxes()" data-dismiss="modal" > ارســـال </button>
                </div>
            </div>
        </div>
    </div>